@import '../../../variables';

.task{
    display: flex;
    align-items: center;
    width: 80%;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #000;
    input{
        flex: 1 0 5%;
    }
    .button{
        flex: 1 0 10%;
        button{
            width: 80%;
            height: 4vh;
            background-color: $basicColor;
            box-shadow: 2px 2px 2px #000;
            border: none;
            border-radius: 5px;
            overflow: hidden;
        }
    }
    .taskText{
        flex: 1 0 85%;
    }
    .completedTask{
        flex: 1 0 85%;
        color:darkgray;
        text-decoration: line-through;
    }
}
.index{
    margin: 0 5% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: $basicColor;
    box-shadow: 2px 2px 2px #000; 
    
}
.taskContent{
    display: flex;
    margin: 20px auto;
    width: 80%;
}
.checkBox{
    display: block;
    width: 2vh;
    height: 2vh;
    margin: 0 10px;
    border: 1px solid #ddd;
}
.checkBoxActive{
    background-color: rgb(185, 241, 243);
    background-color: rgb(185, 241, 243);
}
input[type='checkbox']{
    overflow: hidden;
    position: fixed !important;
    width: 1px;
    height: 1px;
    transition: all 0.5s ease-out;
}
