@import '../variables';
@import '../common';

.wrapper{
    display: flex;
    align-items: center;
    height: 100vh;
    background: url(../img/table.jpg) center/80%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.container{
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 10px #000;
    header{
        margin: 0 0 20px;
        height: 12vh;
        background-color: $basicColor;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12vh;
        background-color: $basicColor;
    }
}
.tasks{
    overflow-y: auto;
    height: 53vh;
}
.noTasks{
    display: flex;
    justify-content: center;
    margin: 10% 0 0;
}
.footerContent{
    width: 100%;
    margin: 0 10%;
    display: flex;
}
.activeTasks{
    flex: 0 1 40%;
}
.buttonDeleteTasks{
    flex: 0 1 20%;
    button{
        @include button(rgb(185, 241, 243));
        float: right;
    }
}

